
*{
  padding: 0;
  margin: 0 auto;
  /*плавная прокрутка */
  scroll-behavior: smooth;



}
.body{
  max-width: 1920px;
  height: 5682px;

}
.wrapper {
  margin: 0 auto;


}
.wrapper-header {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;

}
.header-navigation{
  padding-right: 48px;
  width: 536px;
}
.header-navigation ul {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.header-navigation ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  text-transform: uppercase;
  color: #292d32;
  list-style: none;
}
.header-navigation ul li:hover {
  cursor: pointer;
}
.header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-search {
  padding-top: 1.5px;
}
.header-sprite {
  position: relative;
  display: flex;
  justify-content: space-between;
  /*.+1*/
  width: 285px;
  align-items: center;
}
.header-sprite_elem {
  height: 55px;
}
.header-sprite_elem:hover {
  cursor: pointer;
}