@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.scroll {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

ul li:hover {
  cursor: pointer;
}

@media (max-width: 1465px) {
  .wrapper-header {
    margin: 0 15px;
  }
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("/src/assets/fonts/Euclid Circular A Regular.ttf");
}
@font-face {
  font-family: "Rubik Mono One";
  src: url("/src/assets/fonts/RubikOne-Regular.ttf");
}
.wrapper-news_info {
  padding-top: 153px;
  display: flex;
  justify-content: space-between;
  max-width: 1426px;
  margin: 0 auto;
}

.wrapper-news_name {
  padding: 20px 0 0 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #292d32;
}

.wrapper-news_expl {
  padding: 25px 0 0 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
  max-width: 721px;
}

.wrapper-news_info .show {
  align-items: center;
  height: 88px;
}
.wrapper-news_info .show .button-text {
  padding-top: 25px;
  padding-right: 17px;
}
.wrapper-news_info .show .show_button {
  padding-top: 27px;
  margin-right: 13px;
}

.wrapper-news-layout {
  max-width: 1424px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 48px;
}

.wrapper-news_card {
  position: relative;
  width: 463px;
  height: 408px;
}

.wrapper-news_img {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 440px;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}

.card1 {
  background-image: url("/src/assets/imgs/Card1.png");
}

.card2 {
  background-image: url("/src/assets/imgs/Card2.png");
  background-position: 46% 49%;
}

.card3 {
  background-image: url("/src/assets/imgs/Card3.png");
  background-position: 44% 46%;
}

.card4 {
  background-image: url("/src/assets/imgs/Card4.png");
  background-position: 49% 42%;
}

.card5 {
  background-image: url("/src/assets/imgs/Card5.png");
  background-position: 48% 42%;
}

.card6 {
  background-image: url("/src/assets/imgs/Card6.png");
  background-position: 46% 42%;
}

.wrapper-news_data {
  position: absolute;
  width: 50px;
  height: 97px;
  background-color: white;
  border-radius: 15px;
  right: -11px;
  top: 86px;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}

.wrapper-news_show {
  padding-top: 264px;
  padding-left: 42px;
}

.wrapper-news_num {
  padding-top: 24px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #292d32;
}

.wrapper-news_month {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #292d32;
}

.wrapper-news_block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.wrapper-news_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #292d32;
  max-width: 200px;
}

.wrapper-news_play {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #292d32;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  margin-right: 50px;
}
.wrapper-news_play:hover {
  cursor: pointer;
}

.wrapper-news_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #292d32;
}

.wrapper-news_card:nth-child(4) .wrapper-news_img .wrapper-news_data,
.wrapper-news_card:nth-child(5) .wrapper-news_img .wrapper-news_data,
.wrapper-news_card:nth-child(6) .wrapper-news_img .wrapper-news_data {
  top: 82px;
  right: -12px;
}
.wrapper-news_card:nth-child(4) .wrapper-news_img .wrapper-news_show,
.wrapper-news_card:nth-child(5) .wrapper-news_img .wrapper-news_show,
.wrapper-news_card:nth-child(6) .wrapper-news_img .wrapper-news_show {
  padding-top: 260px;
}

@media (max-width: 935px) {
  .wrapper-news_name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292d32;
    padding: 21px 0 0 15px;
  }
  .wrapper-news_expl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    padding: 21px 0 0 16px;
    /* Unnamed Color */
    color: #838383;
  }
  .wrapper-news_info {
    display: block;
    padding-top: 100px;
  }
  .wrapper-news_info .show {
    flex-direction: row-reverse;
    justify-content: start;
    height: 80px;
    padding-left: 16px;
  }
  .wrapper-news-layout {
    justify-content: center;
    padding-top: 28px;
  }
  .wrapper-news_img {
    height: 100%;
    width: 345px;
  }
  .wrapper-news_show {
    padding-top: 177px;
    padding-left: 30px;
  }
  .wrapper-news_card {
    display: flex;
    justify-content: center;
    margin-left: -19px;
    height: 304px;
    margin-bottom: 10px;
  }
  .card1 {
    background-image: url("/src/assets/imgs/Card11.png");
    margin-bottom: 20px;
  }
  .card2 {
    background-image: url("/src/assets/imgs/Card22.png");
    background-position: 46% 49%;
  }
  .card3 {
    background-image: url("/src/assets/imgs/Card33.png");
    background-position: 44% 46%;
  }
  .card4 {
    display: none;
  }
  .card5 {
    display: none;
  }
  .card6 {
    display: none;
  }
  .wrapper-news_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */
    color: #292d32;
  }
  .wrapper-news_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #292d32;
  }
  .wrapper-news_play {
    width: 33px;
    height: 33px;
    margin-top: 0px;
    margin-right: 44px;
  }
  .wrapper-news_data {
    width: 39.41px;
    height: 76.06px;
    right: -10px;
    top: 59px;
  }
  .wrapper-news_num {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    padding-bottom: 6px;
    color: #292d32;
  }
  .wrapper-news_month {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    padding-left: 5px;
    color: #292d32;
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
  }
  .wrapper-news {
    padding-bottom: 103px;
  }
}
.wrapper-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-right: 60px;
}

.header-nav {
  padding-right: 48px;
  width: 536px;
}
.header-nav ul {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  text-transform: uppercase;
  color: #292d32;
  list-style: none;
}
.header-nav ul li:hover {
  cursor: pointer;
}

.header-sprite {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 286px;
  align-items: center;
}
.header-sprite_icon {
  height: 55px;
}
.header-sprite_icon:hover {
  cursor: pointer;
}

.basket-count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #48a4eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  right: 0;
  top: 9px;
}

.menu-btn {
  display: none;
}

.menu-btn {
  margin-top: -7px;
  position: relative;
  z-index: 20;
  overflow: hidden;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #f9f9f9;
}

.menu-btn span {
  width: 18px;
  height: 2px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #292d32;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(1) {
  top: calc(58% - 5px);
}

.menu-btn span:nth-of-type(2) {
  top: calc(41% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(52% + 5px);
}

.header-search {
  padding-top: 2px;
}

.menu-btn:hover {
  cursor: pointer;
}

.header-sprite_icon:hover .down_menu {
  display: block;
  overflow: visible;
}

.down_menu {
  display: none;
  top: 56px;
  position: absolute;
  z-index: 10;
  width: 405px;
  border-radius: 20px;
  right: 63px;
  filter: drop-shadow(0px 14px 75px rgba(0, 0, 0, 0.13)) drop-shadow(0px 1.75302px 9.39116px rgba(0, 0, 0, 0.065));
}

.invisible_block {
  height: 40px;
  background: rgba(0, 0, 0, 0);
}

.down_menu::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 196px;
  border: 11px solid transparent;
  border-bottom: 11px solid white;
}

.down_menu_logo_block {
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 31.49px 0 22px 30px;
}
.down_menu_logo_block .down_menu_icon {
  padding-right: 20px;
}

.header-sprite_icon_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;

}

.submenu {
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.submenu li {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  padding: 20px 40px 20px 30px;
  border-top: 1px solid #f2f2f2;
}
.wrapper-preview {
  background-color: #ffffff;
  display: flex;
  justify-content: end;
}

.preview-review {
  background: #f2f2f2;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.review-container {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
}

.preview-scroll {
  padding-right: 104px;
  padding-top: 25.4%;
  text-align: center;
  width: 26px;
}

.preview-price {
  background-image: url("/src/assets/imgs/image 23.png");

  background-repeat: no-repeat;
  background-size: contain;
  width: 692px;
  background-color: #f9f9f9;
  height: 100%;
}

.preview-dell {
  position: absolute;
  top: 11.2%;
  left: 17%;
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  font-size: 289px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(0deg, #eeeeee -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.preview-scroll_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #838383;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  padding-top: 16px;
}
.goods-describe {
  z-index: 9;
  padding-top: 253px;
  padding-right: 9px;
}
.new-goods {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
  padding-bottom: 15px;
}

.text-view {
  max-width: 396px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 60px;
  color: #292d32;
}

.show {
  display: flex;
  align-items: center;
}

.show_button {
  margin-right: 12px;
}
.show_button img:hover {
  cursor: pointer;
}

.button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292d32;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider {
  z-index: 1;
  padding-top: 74px;
  padding-bottom: 50px;
  padding-right: 57px;
}

.slider-imgs {
  padding-right: 60px;
}
.slider-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9px;
  padding-right: 40px;
  right: 0;
  top: 74%;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d0d0d0;
}

.current-dot {
  width: 9px;
  height: 9px;
  background: #292d32;
}

.preview-price_container {
  padding: 321px 0 64px 40px;
  max-width: 181px;
  margin-bottom: 95px;
}

.preview-price_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #292d32;
  margin-bottom: 81px;
}

.arrow2 {
  display: none;
}
@media (max-width: 1380px) {
  .wrapper-preview {
    display: block;
  }
  .goods-describe {
    position: relative;
    padding-top: 130px;
  }
  .preview-dell {
    top: 11px;
    left: 25px;
  }
  .text-view {
    margin-bottom: 28px;
  }
  .preview-review {
    display: block;
  }
  .preview-price {
    width: auto;
    background-image: url("/src/assets/imgs/image 23.png");
    background-position: 97% 52%;
    background-size: 255px 168px;
    height: 196px;
    width: 100%;
  }
  .slider {
    display: grid;
    justify-content: center;
    padding-top: 5px;
  }
  .slider-imgs {
    padding-right: 0;
  }
  .slider-navigation {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: -38px -10px 0 0;
  }
  .arrow1 {
    display: none;
  }
  .arrow2 {
    display: block;
  }
  .preview-price_container {
    padding: 0 0 0 0;
  }
  .preview-price_text {
    margin-bottom: 0;
  }
  .slider-dots {
    position: inherit;
    top: auto;
    bottom: 25px;
    width: 56px;
  }
  .dot {
    width: 3px;
    height: 3px;
  }
  .current-dot {
    width: 5px;
    height: 5px;
  }
  .preview-price_text {
    padding: 59px 0 0 15px;
    max-width: 145px;
  }
}