
*{
  padding: 0;
  margin: 0 auto;
  /*плавная прокрутка */
  scroll-behavior: smooth;



}
.body{
  max-width: 1920px;
  height: 5682px;

}
.wrapper {
  margin: 0 auto;


}
.wrapper-header {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;

}
.header-navigation{
  padding-right: 48px;
  width: 536px;
}
.header-navigation ul {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.header-navigation ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  text-transform: uppercase;
  color: #292d32;
  list-style: none;
}
.header-navigation ul li:hover {
  cursor: pointer;
}
.header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-search {
  padding-top: 2px;
  position: relative;
  display: inline-block;
}
.header-sprite {
  position: relative;
  display: flex;
  justify-content: space-between;
  /*.+1*/
  width: 285px;
  align-items: center;
}
.header-sprite_elem {
  height: 55px;
}
.header-sprite_elem:hover {
  cursor: pointer;
}
.header-sprite_icon_name {
  /*display: none;*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}
.header-search-dropdown{
  /*display: none;*/
  position: absolute;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.header-search-dropdown li {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  padding: 20px 40px 20px 30px;
  border-top: 1px solid #f2f2f2;
}