
*{
  padding: 0;
  margin: 0 auto;
  /*плавная прокрутка */
  scroll-behavior: smooth;



}
.body{
  max-width: 1920px;
  height: 5682px;

}
.wrapper {
  margin: 0 auto;


}
.wrapper-header {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;

}
.wrapper-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 27px 0 22px 0;
  max-width: 1400px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-right: 60px;
}

.header-nav {
  padding-right: 48px;
  width: 536px;
}
.header-nav ul {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  text-transform: uppercase;
  color: #292d32;
  list-style: none;
}
.header-nav ul li:hover {
  cursor: pointer;
}

.header-sprite {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 286px;
  align-items: center;
}
.header-sprite_icon {
  height: 55px;
}
.header-sprite_icon:hover {
  cursor: pointer;
}
